:root {
  --header-height: 50px;
  --footer-height: 50px;
}

body {
  font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

main {
  margin-top: var(--header-height);
  height: calc(100vh - (var(--header-height) + var(--footer-height)));
}

