.not-found-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.four-o-four {
  font-size: clamp(2rem, 20cqw, 8rem);
}

.message {
  font-size: clamp(1rem, 5cqw, 2rem);
}

